@model KisiselBlog.Models.Users

@{ 
    string rol = "";
    if (Model.roles.RoleName == "Admin")
    {
        rol = "Site Kurucusu";
    }
    if (Model.roles.RoleName == "Author")
    {
        rol = "Yazar";
    }
    int makalesayisi = 0;
    if(Model.articles != null)
    {
        makalesayisi = Model.articles.Count;
    }
}

<div class="col-lg-4 mt-5 animated tada">
    <div class="card h-75 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
            <h4 class="card-title">@Model.Name @Model.Surname</h4>
            <h6 class="card-subtitle mb-2 text-muted">@rol</h6><hr />
            <h6 class="card-subtitle mb-2 text-capitalize"><small>@makalesayisi Makale paylaşımı</small></h6>
            
            <p class="card-text">giat odio officiis odit.giat odio officiis odit.giat odio officiis odit.giat odio officiis odit.giat odio officiis odit.giat odio officiis odit.giat odio officiis odit.</p>
        </div>
        <div class="card-footer">
            <a href="mailto:@Model.Email">Mail Gönder</a>
        </div>
    </div>
</div>