
@{
    ViewBag.Title = "Index";
    int member, author, article;
    member = article = author = 0;
    member = 600;
    author = 13;
    article = 98;
}


<!-- Page Content -->
<div class="container mtop-sm-50 mt-sm-5">
    <br />


    <div class="row">

        <div class="col-md-4">
            <div class="text-center animated">
                <p id="el" class="display-3 text-danger numscroller numscroller-big-bottom" data-slno='1' data-min='0' data-max='@member' data-delay='5' data-increment="9">0</p>
                <p class="">Kayıtlı üye</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-center ">
                <p class="display-3 text-success numscroller numscroller-big-bottom" data-slno='1' data-min='0' data-max='@author' data-delay='5' data-increment="10">0</p>
                <p class="">Yazar</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <p class="display-3 text-primary numscroller numscroller-big-bottom" data-slno='1' data-min='0' data-max='@article' data-delay='1' data-increment="3">0</p>
                <p class="">Makale</p>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <hr />
    <!-- Features Section -->
    <div class="row animated zoomInLeft">

        <div class="col-lg-12">
            <blockquote class="blockquote text-center">
                <footer class="blockquote-footer">Hiçbir şeye ihtiyacımız yok, yalnız bir şeye ihtiyacımız vardır; çalışkan olmak!<br /> <cite title="Source Title">M.Kemal Atatürk</cite></footer>
            </blockquote>
        </div>

    </div>
    <!-- /.row -->
    <hr />

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek</p>
            <p>İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek</p>
            <p>İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek İçerik eklenecek</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Rastgele Makale?</a>
        </div>
    </div>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-50">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div>


</div>
