
@section bg{
    class="bg-dark"
}
<div class="container animated zoomIn" >
    <div class="card card-register mx-auto col-md-7 offset-2 mt-5">
        <div align="center" class="card-header">   <h2><i class="fas fa-code"></i>&nbsp;Kayıt Ol</h2> </div>
        <div class="card-body">
            @using (Html.BeginForm("KayitOl", "Home", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
            {


                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">İsminiz</label>
                            <input class="form-control" id="Name" type="text" name="Name" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Soyisminiz</label>
                            <input class="form-control" id="Surname" name="Surname" type="text" required="required" placeholder="Soyisminiz">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputEmail1">Email Adresiniz</label>
                            <input class="form-control" id="Email" type="email" name="Email" required="required" aria-describedby="emailHelp" placeholder="Email Adresiniz">
                            @if (ViewBag.email != null)
                            {
                                <label style="color:darkred;">@ViewBag.email</label>
                            }
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputName">Kullanıcı Adınız</label>
                            <input class="form-control" id="NickName" name="NickName" type="text" required="required" placeholder="Kullanıcı Adınız">
                            @if (ViewBag.nickName != null)
                            {
                                <label style="color:darkred;">@ViewBag.nickName</label>
                            }
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">Parolanız</label>
                            <input class="form-control" id="Password" name="Password" type="password" required="required" placeholder="Parolanız">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleConfirmPassword">Parola Tekrar</label>
                            <input class="form-control" id="Password1" name="Password1" type="password" required="required" placeholder="Parola Tekrar">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Kayıt Ol</button>
            }


            <div class="text-center">
                <a class="d-block small mt-3" href="login.html">Giriş Yap</a>
                <a class="d-block small" href="forgot-password.html">Parolamı Unuttum</a>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br />