@{
    ViewBag.Title = "Parola";
}

<div class="container">
    <div class="card card-login col-md-4 mx-auto mt-5">
        <div class="card-header">Parola Değiştir</div>
        <div class="card-body">
            @using (Html.BeginForm("Parola", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group">
                    <label for="exampleInputPassword1">Mevcut Parolanız</label>
                    <input class="form-control" required="required" id="oldPass" name="oldPass" type="password" placeholder="Mevcut Parolanız">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Yeni Parolanız</label>
                    <input class="form-control" required="required" id="Password" type="password" name="Password" placeholder="Yeni Parolanız">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Yeni Parolanız Tekrar</label>
                    <input class="form-control" required="required" id="Password1" type="password" placeholder="Yeni Parolanız Tekrar">
                </div>
                <div class="err text-danger" id="pcheck">
                    <span><i class="fas fa-exclamation-triangle"></i> &nbsp; Parolalar Uyuşmuyor</span>
                </div><br>
                <button class="btn btn-block btn-primary" id="send" type="submit">Kaydet</button>

            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.err').hide();
    $("#send").prop('disabled', true);
    $('#Password').on('input', function () {
        var parola = $('#Password').val();
        var parola1 = $('#Password1').val();
        if (parola1.length > 0 && parola1 != parola) {
            $('.err').show();
            $("#send").prop('disabled', true);
        }
        else {
            $('.err').hide();
            $("#send").prop('disabled', false);
        }
        if (parola1.length < 1) {
            $("#send").prop('disabled', true);
        }
    })
    $('#Password1').on('input', function () {
        var parola = $('#Password').val();
        var parola1 = $('#Password1').val();
        if (parola.length > 0 && parola1 != parola) {
            $('.err').show();
            $("#send").prop('disabled', true);
        }
        else {
            $('.err').hide();
            $("#send").prop('disabled', false);
        }
        if (parola.length < 1) {
            $("#send").prop('disabled', true);
        }
    })
</script>
