@using KisiselBlog.Models
@model IEnumerable<Categories>
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
<div class="container mt-3">
    <center>
        <div class="col-md-5 col-sm-12 col-xl-4" align="center">
            @if (ViewBag.c != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @ViewBag.c
                    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </center>
   
    <div class="row" align="center">
        <div class="mx-auto">
            <h3 class="text-center text-success mb-3">Etiket Ekle</h3>
            <div class="mt-xl-auto mt-5">
                @using (Html.BeginForm("KategoriEkle", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input class="form-control" type="text" name="CategoryName" placeholder="Etiket İsmi Giriniz" id="CategoryName" required="required" />
                    <button type="submit" class="btn btn-sm btn-primary btn-block mt-2">Ekle</button>
                }
            </div>

        </div>
    </div>
    <center> <h4 class="text-danger mt-5">Etiketler</h4></center>

    <div class="row mt-5" align="center">

        @foreach (var item in Model)
        {
            <div class="col-md-2">

                <div class="alert alert-info alert-dismissible fade show">
                    <small>
                        @item.CategoryName
    
                    </small>
                    <a class="close btn-sm" href="@Url.Action("KategoriSil", "User", new { id = item.CategoryID })">
                            <span aria-hidden="true">&times;</span>
                    </a>
                </div>
            </div>

        }
    </div>

</div>

<script>
    
    document.getElementById("CategoryName").focus();

</script>