@using KisiselBlog.Areas.User.Models
@model AddArticleModel
@{
    ViewBag.Title = "MakaleEkle";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div class="container artadd">
    <br>

    <div class=row>
        <div class="col-md-8 offset-2">
            <div align="center">
                <h2>Makale Ekle</h2><br>
                @using (Html.BeginForm("MakaleEkle", "User", FormMethod.Post,new { enctype = "multipart/form-data" }))
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                           
                            <label for="baslik">Konu Başlığı</label>

                            <input type="text" class="form-control" id="baslik" name="Head" placeholder="Konu Başlığı">
                            @Html.ValidationMessage("Head","", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Link">Sayfa Linki</label>
                            <input type="text"  class="form-control" id="Link" name="Link" placeholder="Sayfa Linki">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Yazı İçeriği</label>
                        <textarea class="form-control" required="required" id="text" name="Text" rows="5" placeholder="Yazı İçeriği"></textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Yazı Kategorisi</label>
                            <select id="inputState" name="Categories" class="form-control">
                                <option value="" selected>Kategori</option>
                                <option value="Ali1">Ali1</option>
                                <option value="Ali2">Ali2</option>
                                <option value="Ali3">Ali3</option>
                                <option value="Ali4">Ali4</option>
                            </select>

                        </div>


                        <div class="form-group col-md-6">
                            <label for="exampleFormControlTextarea1">Resim Ekle</label>
                            <div class="custom-file">
                                <input type="file" name="ImagesPath" id="file" class="custom-file-input" required>
                                <label class="custom-file-label" for="validatedCustomFile">Resim Seç</label>
                                <div class="invalid-feedback">feedback</div>
                            </div>
                            
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Yayınla</button>
                 }


            </div>

        </div>
    </div>

</div>

<script>
    $('#baslik').on('input', function () {
        var str = "" ,baslik = $('#baslik').val();
        str = baslik.replace(/ /g, "-"); //replace all demek
        document.getElementById("Link").value = str; //DOM
    });

    
</script>

